@import "tailwindcss";

@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}

.firstLogo{
  border-radius: 50%;
  background: border-box,  conic-gradient(from var(--bg-angle) at 50% 50%, #4eeaff, #4bb9ff, #5463ff, #b35dff, #ff5bdb, #ff547d, #ff7c43, #ffb642, #fff847, #76ff4f, #49ffd2, #44efff) content-box, none; 
  animation: rainbowAnimation 15s infinite linear running;
  -moz-animation: rainbowAnimation 15s infinite linear running;
  -webkit-animation: rainbowAnimation 15s infinite linear running;
  border: 10px solid transparent;
}

@keyframes rainbowAnimation {
  to {
    --bg-angle: 360deg;
  }
}
@-moz-keyframes rainbowAnimation {
  to {
    --bg-angle: 360deg;
  }
}
@-webkit-keyframes rainbowAnimation {
  to {
    --bg-angle: 360deg;
  }
}